# Server Configuration
PORT=4000

# API URL
API_URL=http://localhost:4000/api

# CLIENT URL
CLIENT_URL=http://localhost:5173

# CORS Configuration
CORS_ORIGIN=http://localhost:8080

# Logging
LOG_LEVEL=info

# Database URL
DATABASE_URL="postgresql://postgres:password@localhost:5432/diasesdb?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=diasesdb

# Sentry DNS
SENTRY_DSN="https://mock-dsn@fake-sentry.ingest.sentry.io/1234567"

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379