@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.wrapper {
  @include flex(column, flex-start, center);

  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 80rem;
  padding: 1rem;

  @include responsive(xs) {
    padding: 0.5rem;
  }

  @include responsive(sm) {
    padding: 1rem;
  }

  @include responsive(md) {
    padding: 1.5rem;
  }

  @include responsive(lg) {
    padding: 2rem;
  }

  @include responsive(xl) {
    padding: 2rem;
  }
}
