@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  @include typography($font-sans, $fs-sm, $fw-medium);
}

.disabled-label {
  opacity: 0.5;
}

.input {
  @include typography($font-sans, $fs-md, $fw-regular);

  padding: 0.5rem 0.75rem;
  border: 0.0625rem solid var(--border);
  border-radius: $radius-md;
  transition: all 0.2s ease;
  background-color: var(--card);
  color: var(--foreground);
  width: 12rem;
  min-height: 2.5rem;

  &:hover:not(:disabled, .error),
  &:focus:not(:disabled, .error),
  &:active:not(:disabled, .error) {
    border-color: var(--primary);
  }

  &:focus:not(:disabled, .error) {
    outline: none;
    box-shadow: 0 0 0 0.188rem var(--ring);
  }

  &.full-width {
    width: 100%;
  }

  &::placeholder {
    color: var(--muted-foreground);
  }
}

.disabled {
  background-color: var(--muted);
  color: var(--muted-foreground);
  border-color: var(--border);
  cursor: not-allowed;
  opacity: 0.5;
}

.error {
  border-color: var(--danger);
}

.helper {
  @include typography($font-sans, $fs-sm, $fw-regular);

  color: var(--muted-foreground);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.helper > div {
  display: flex;
  align-items: center;
}

.error-helper {
  color: var(--danger);
}

/* Light Theme */
:global(html.theme-light) {
  .label {
    color: $light-text;
  }

  .input {
    background-color: $light-input-bg;
    color: $light-text;
    border-color: $light-border;

    &:hover:not(:disabled, .error),
    &:focus:not(:disabled, .error) {
      border-color: $light-primary;
    }

    &:focus:not(:disabled, .error) {
      box-shadow: 0 0 0 0.188rem $light-focus;
    }

    &::placeholder {
      color: $light-muted-text;
    }
  }

  .disabled {
    background-color: $light-muted-bg;
    color: $light-muted-text;
    border-color: $light-border;
  }

  .error {
    border-color: $light-danger;
  }

  .helper {
    color: $light-muted-text;
  }

  .error-helper {
    color: $light-danger;
  }
}

/* Dark Theme */
:global(html.theme-dark) {
  .label {
    color: $dark-text;
  }

  .input {
    background-color: $dark-input-bg;
    color: $dark-text;
    border-color: $dark-border;

    &:hover:not(:disabled, .error),
    &:focus:not(:disabled, .error) {
      border-color: $dark-primary;
    }

    &:focus:not(:disabled, .error) {
      box-shadow: 0 0 0 0.188rem $dark-focus;
    }

    &::placeholder {
      color: $dark-muted-text;
    }
  }

  .disabled {
    background-color: $dark-muted-bg;
    color: $dark-muted-text;
    border-color: $dark-border;
  }

  .error {
    border-color: $dark-danger;
  }

  .helper {
    color: $dark-muted-text;
  }

  .error-helper {
    color: $dark-danger;
  }
}

/* Responsive */
@include responsive(xs) {
  .input {
    font-size: $fs-sm;
    width: 100%;
  }
}

@include responsive(sm) {
  .input {
    width: 100%;
  }
}
